<div class="container">
  <div id='map'></div>
  <script>
    function initMap() {
      geocoder = new google.maps.Geocoder()

      //デザイン
      let styles = [
        {
            "featureType": "all",
            "elementType": "all",
            "stylers": [
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
                { "color": "#444444" }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "all",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "all",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "administrative.neighborhood",
            "elementType": "all",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "all",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                { "color": "#f2f2f2" }
            ]
        },
        {
            "featureType": "landscape.man_made",
            "elementType": "all",
            "stylers": [
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                { "visibility": "off" },
                { "color": "#cee9de" },
                { "saturation": "2" },
                { "weight": "0.80" }
            ]
        },
        {
            "featureType": "poi.attraction",
            "elementType": "geometry.fill",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "all",
            "stylers": [
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                { "saturation": -100 },
                { "lightness": 45 }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [
                { "visibility": "on" },
                { "color": "#f5d6d6" }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.icon",
            "stylers": [
                { "hue": "#ff0000" },
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "road.highway.controlled_access",
            "elementType": "labels.text",
            "stylers": [
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "road.highway.controlled_access",
            "elementType": "labels.icon",
            "stylers": [
                { "visibility": "on" },
                { "hue": "#0064ff" },
                { "gamma": "1.44" },
                { "lightness": "-3" },
                { "weight": "1.69" }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "all",
            "stylers": [
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.text",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "all",
            "stylers": [
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "labels.text",
            "stylers": [
                { "visibility": "simplified" },
                { "weight": "0.31" },
                { "gamma": "1.43" },
                { "lightness": "-5" },
                { "saturation": "-22" }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                { "visibility": "off" }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "all",
            "stylers": [
                { "visibility": "on" },
                { "hue": "#ff0000" }
            ]
        },
        {
            "featureType": "transit.station.airport",
            "elementType": "all",
            "stylers": [
                { "visibility": "simplified" },
                { "hue": "#ff0045" }
            ]
        },
        {
            "featureType": "transit.station.bus",
            "elementType": "all",
            "stylers": [
                { "visibility": "on" },
                { "hue": "#00d1ff" }
            ]
        },
        {
            "featureType": "transit.station.bus",
            "elementType": "labels.text",
            "stylers": [
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "transit.station.rail",
            "elementType": "all",
            "stylers": [
                { "visibility": "simplified" },
                { "hue": "#00cbff" }
            ]
        },
        {
            "featureType": "transit.station.rail",
            "elementType": "labels.text",
            "stylers": [
                { "visibility": "simplified" }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                { "color": "#46bcec" },
                { "visibility": "on" }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
                { "weight": "1.61" },
                { "color": "#cde2e5" },
                { "visibility": "on" }
            ]
        }
    ];

      //初期表示位置等の記述
      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.7031485, lng: 139.5798087},
          zoom: 12,
          styles: styles,
      });

      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      //マーカー表示の記述
      <% @spots.each do |spot|%>
        ( function() { 
          let markerLatLng = new google.maps.LatLng({lat: <%= spot.latitude %>, lng: <%= spot.longitude %>}); // 緯度経度のデータ作成
          let marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map,
            icon: {
              url: 'https://i.gyazo.com/3500c572ea7b5a3e204d4f8dec4e922f.png', //アイコンのURL
              scaledSize: new google.maps.Size(70, 70) //サイズ
              }
          });
          //マーカーをクリックしたとき、投稿のキャプションをPOPUP表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= post_url(spot.post.id) %>' target='_blank'><%= spot.post.caption %></a>"
          }); //ここで投稿詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

       })();
      <% end %>
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
</div>
