<tr>
  <td style="width: 650px">
    <%= comment.user.name %>
    <%= simple_format(comment.body) %>
  </td>

  <% if current_user.own?(comment) %>
    <td>
      <%= link_to("#", { method: :get, class: 'linkcolor' }) do %>
        <%= icon 'fa', 'pen' %>
      <% end %>
      <%= link_to("#", { method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'linkcolor' }) do %>
        <%= icon 'fas', 'trash' %>
      <% end %>
    </td>
  <% else %>
    <td></td>
  <% end %>
</tr>
