<tr>
  <td style="width: 650px">
    <%= comment.user.name %>
    <%= simple_format(comment.body) %>
  </td>

  <% if current_user.own?(comment) %>
    <td>
      <%= link_to "#", method: :get do %>
        <%= icon 'fa', 'pen' %>
      <% end %>
      <%= link_to "#", method: :delete do %>
        <%= icon 'fas', 'trash' %>
      <% end %>
    </td>
  <% else %>
    <td></td>
  <% end %>
</tr>
