<% content_for(:title, t('.title')) %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <h1 class="title has-text-centered"><%= t '.title' %></h1>
        <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.label :name, class: 'label', class: 'has-text-weight-light' %>
            <%= f.text_field :name, class: 'input', placeholder: 'bugchan' %>
            <p class="help is-info">必須</p>
          </div>
          <div class="field">
            <%= f.label :email, class: 'label', class: 'has-text-weight-light' %>
            <%= f.email_field :email, class: 'input', placeholder: 'machibug@example.com' %>
            <p class="help is-info">必須</p>
          </div>
          <div class="field">
            <%= f.label :password, class: 'label', class: 'has-text-weight-light' %>
            <%= f.password_field :password, class: 'input' %>
            <p class="help is-info">必須 半角英数8文字以上</p>
          </div>
          <div class="field">
            <%= f.label :password_confirmation, class: 'label', class: 'has-text-weight-light' %>
            <%= f.password_field :password_confirmation, class: 'input' %>
          </div>
          <div class="has-text-centered mt-5">
            <%= f.submit (t 'defaults.register'), class: 'button is-dark' %>
          </div>
        <% end %>
        <div class="has-text-centered mt-2">
          <%= link_to((t '.to_login_page'), login_path, {class: 'linkcolor'}) %>
        </div>
      </div>
    </div>
  </div>
</section>
