<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ml-4">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", size: "200x130" %>
      <% end %>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end mr-5">
        <div class="navbar-item">
          <%= link_to '#' do %>
            <%= image_tag "bugchan.png", size: "60x100" %>
          <% end %>
        </div>
        <div class="navbar-item">
          <%= link_to '投稿', "#"%>
        </div>
        <div class="navbar-item">
          <%= link_to (t 'defaults.login'), login_path%>
        </div>
      </div>
    </div>
  </nav>
</header>
