<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ml-5">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", size: "200x130" %>
      <% end %>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <%= link_to 'とは？', "#"%>
          </div>
          <div class="navbar-item">
            <%= link_to '使い方', "#"%>
          </div>
        </div>
      </div>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end mr-5">
        <div>
          <%= link_to '#' do %>
            <%= image_tag "bugchan.png", size: "60x100" %>
          <% end %>
        </div>
        <div class="navbar-item">
          <%= link_to (t 'defaults.post'), new_post_path%>
        </div>
        <div class="navbar-item">
          <%= link_to (t 'defaults.logout'), logout_path, method: :delete %>
        </div>
      </div>
    </div>
  </nav>
</header>
