<%= form_with model: @post, local: true do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :photos, class: 'label', class: 'has-text-weight-light' %><br>
    <%= f.file_field :photos, class: "push", multiple: true, onchange: "loadImage(this);" %>
    <p class="help is-info">必須(3枚まで)</p>
  </div>
  <div id="post_images" style="display: none;">
    <p id="preview"></p>
  </div>
  <%= render "loadimage" %>
  <div class="field">
    <%= f.fields_for :spot do |s| %>
      <%= s.label :address, class: 'label', class: 'has-text-weight-light' %>
      <%= s.text_field :address, class: 'input', placeholder: 'e.g. 吉祥寺駅' %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :caption, class: 'label', class: 'has-text-weight-light' %>
    <%= f.text_area :caption, class: 'textarea', placeholder: 'キャプションを入力' %>
  </div>
  <div class="has-text-centered mt-5">
    <%= f.submit (t 'defaults.register'), class: 'button is-dark' %>
  </div>
<% end %>
