<%= form_with(model: @post, local: true) do |form| %>
  <div class="field">
    <%= form.label :caption %>
    <%= form.text_area :caption %>
  </div>
  
  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photos, direct_upload: true, multiple: true %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
