<% content_for(:title, t('.title')) %>
<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Caption</th>
      <th>Created_at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= link_to(post.caption, post, {class: "linkcolor"}) %></td>
        <td><%= post.created_at %></td>
        <% if current_user.own?(post) %>
          <td>
            <%= link_to(edit_post_path(post), { method: :get, class: 'linkcolor' }) do %>
              <%= icon 'fa', 'pen' %>
            <% end %>
          </td>
          <td>
            <%= link_to(post, { method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'linkcolor' })do %>
              <%= icon 'fas', 'trash' %>
            <% end %>
          </td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
