<% content_for(:title, t('.title')) %>
<section class="section">
  <div class="container">
  <h1 class="title has-text-centered"><%= t '.title' %></h1>
    <figure>
      <% @posts.each do |post| %>
        <% post.photos.each do |photo| %>
          <%= link_to post do %>
            <%= image_tag(photo) %>
            <figcaption>
              <%= post.caption %><br>
              <i class="far fa-user"></i>
              <%= post.user.name %>
            </figcaption>
          <% end %>
        <% end %>
      <% end %>
    </figure>
  </div>
</section>
