<section class="section">
  <div class="container">
    <div class="columns is-mobile is-vcentered">
      <div class="column is-half is-offset-one-quarter">
    <p>
      <% if @post.photos.attached? %>
        <% @post.photos.each do |photo| %>
          <%= image_tag photo.variant(resize_to_limit: [300, 200]) %>
        <% end %>
      <% end %>
    </p>
    <p>
    <strong>Nickname:</strong>
    <%= @post.user.name %>
    </p>
    <p>
      <strong>Caption:</strong>
      <%= @post.caption %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @post.spot.address %>
    </p>
    <!-- コメントの投稿フォーム -->
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <!-- 投稿されたコメントの表示エリア -->
    <%= render 'comments/comments', { comments: @comments } %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
    </div> 
    </div>
  </div>
</section>
