<section class="section">
  <div class="container">
    <div class="columns is-mobile is-vcentered">
      <div class="column is-half is-offset-one-quarter">
    <p>
      <% if @post.photos.attached? %>
        <% @post.photos.each do |photo| %>
          <%= image_tag photo.variant(resize_to_limit: [300, 200]) %>
        <% end %>
      <% end %>
    </p>
    <p>
      Nickname:
      <%= @post.user.name %>
    </p>
    <p>
      Caption:
      <%= @post.caption %>
    </p>
    <p>
      Address:
      <%= @post.spot.address %>
    </p>
    <p class='has-text-right'>
    <% if current_user.own?(@post) %>
      <%= link_to(edit_post_path(@post), { method: :get, class: 'linkcolor' }) do %>
        <%= icon 'fa', 'pen' %>
      <% end %>
      <%= link_to(@post, { method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'linkcolor' }) do %>
        <%= icon 'fas', 'trash' %>
      <% end %>
    <% end %>
    </p>
    <!-- コメントの投稿フォーム -->
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <!-- 投稿されたコメントの表示エリア -->
    <%= render 'comments/comments', { comments: @comments } %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
    </div> 
    </div>
  </div>
</section>
