<section class="section">
  <div class="container">
    <div class="columns is-mobile is-vcentered">
      <div class="column is-half is-offset-one-quarter">
        <!-- 投稿内容の表示エリア -->
        <article class="media">
          <figure class="media-left">
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <% if @post.photos.attached? %>
                  <% @post.photos.each do |photo| %>
                    <%= image_tag photo.variant(resize_to_limit: [300, 200]) %>
                  <% end %>
                <% end %>
              </p>
              <p>
                <strong><%= @post.user.name %></strong>
                <br>
                <%= @post.caption %>
                <br>
                <strong>Address</strong>
                <br>
                <%= @post.spot.address %>
                <br>
                <small>
                  <!-- likeのバグちゃん表示エリア -->
                  <%= render 'like_button', { post: @post } %>
                  <!-- penとtrashの表示エリア -->
                  <%= render 'crud_menus', { post: @post } %>
                  <!-- 作成日時の表示エリア -->
                  <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
                </small>
              </p>
            </div>
            <!-- 投稿されたコメントの表示エリア -->
            <%= render 'comments/comments', { comments: @comments } %>
          </div>
        </article>
        <!-- コメントの投稿フォーム -->
        <article class="media">
          <figure class="media-left">
          </figure>
          <div class="media-content">
            <% if logged_in? %>
              <%= render 'comments/form', { post: @post, comment: @comment } %>
            <% end %>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
